<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
</head>

<body>
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Add new task</h2>
        </div>
        <div class="modal-body">
            <form name="addForm">
                <div class="form-group">
                    <label>Title:</label>
                    <input ng-model="newTask.title" class="form-control" name="title" ng-required="true">
                    <p ng-show="addForm.title.$invalid" class="help-block">
                        <font size="2"></font>This field is required!</p>
                </div>
                <div class="form-group">
                    <label>Category:</label>
                    <select ng-model="newTask.category" class="form-control" name="category" ng-required="true">
                        <option value="anniversary">Anniversary</option>
                        <option value="appointment">Appointment</option>
                        <option value="business">Business</option>
                        <option value="celebration">Celebration</option>
                        <option value="hobby">Hobby</option>
                        <option value="phone">Phone</option>
                        <option value="relax">Relax</option>
                        <option value="reminder">Reminder</option>
                        <option value="shopping">Shopping</option>
                        <option value="travel">Travel</option>
                        <option value="work">Work</option>
                        <option value="other">OTHER</option>
                    </select>
                    <p ng-show="addForm.category.$invalid" class="help-block">
                        <font size="2"></font>This field is required!</p>
                </div>
                <div class="form-group">
                    <label>Priority:</label>
                    <select ng-model="newTask.priority" class="form-control" name="priority" ng-required="true">
                        <option value="high">High</option>
                        <option value="medium">Medium</option>
                        <option value="low">Low</option>
                    </select>
                    <p ng-show="addForm.priority.$invalid" class="help-block">
                        <font size="2"></font>This field is required!</p>
                </div>
                <div class="form-group">
                    <label>Content:</label>
                    <input ng-model="newTask.content" class="form-control" name="content" ng-required="true">
                    <p ng-show="addForm.content.$invalid" class="help-block">
                        <font size="2"></font>This field is required.</p>
                </div>
                <div class="form-group">
                    <label>Date:</label>
                    <input type="text" class="form-control" ng-disabled="true" datepicker-popup="{{format}}" ng-model="newTask.date" is-open="opened"
                        datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                    <button class="btn btn-default" ng-click="open($event)"></button>
                </div>
        </div>
        <div class="modal-footer ">
            <button class="btn btn-success" type="submit" ng-disabled="addForm.title.$invalid || addForm.category.$invalid || addForm.priority.$invalid || addForm.content.$invalid"
                ng-click="confirm()">Submit</button>
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
        </form>
    </div>
    </div>
</body>

</html>
